<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>

    <autofac defaultAssembly="Orchard.Framework">
        <components>
            <component instance-scope="single-instance" type="Orchard.Localization.Services.CultureDateTimeFormatProvider, Orchard.Framework" service="Orchard.Localization.Services.IDateTimeFormatProvider"></component>
            
            <!-- Override Default IStorageProvider with AliyunBlobStorageProvider -->
            <component instance-scope="single-instance" type="Orchard.Aliyun.Services.FileSystems.Media.AliyunBlobStorageProvider, Orchard.Aliyun" service="Orchard.FileSystems.Media.IStorageProvider, Orchard.Framework"></component>
            
            <!-- Override MediaLibrary Serivce -->
            <component instance-scope="single-instance" type="Orchard.Aliyun.MediaLibrary.Services.MediaLibraryService, Orchard.Aliyun" service="Orchard.MediaLibrary.Services.IMediaLibraryService, Orchard.MediaLibrary"></component>
            <component instance-scope="single-instance" type="Orchard.Environment.ApplicationEnvironment, Orchard.Framework" service="Orchard.Environment.IApplicationEnvironment, Orchard.Framework"></component>
        </components>
    </autofac>

</configuration>